@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#streams {
  margin-top: 20px;
  grid-row: 1/ span 5;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* dynamically change this property when new users are added */
  grid-auto-rows: 1fr;
  row-gap: 5px;
  column-gap: 10px;
  justify-items: center;
  align-items: center;
  max-height: 76vh;
  @apply border-2;
}

#streams video {
  width: 100%;
  height: 100%; 
  max-width: 30rem;
  max-height: 35rem;
  object-fit: cover;
  @apply border-2 bg-red-400 border-lime-400 rounded-xl transition ease-in-out hover:scale-125;
}

#streams #localStreamRoom {
  @apply bg-amber-300;
}

.waves-background {
  height: inherit;
  background-image: url('./assets/icons/waves.svg');
}

.footer-icon .footer-icon-text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.footer-icon:hover .footer-icon-text {
  opacity: 1;
  top: 100%;
  position: absolute;
  z-index: 10;
}

@media screen and (max-width: 463px) {
  .footer {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 17%;
    left: 0;
    justify-content: center;
    align-items: stretch;
  }
}

@media screen and (min-width: 464px) {
  .footer {
    @apply bottom-12;
  }
}
