@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#streams {
  margin-top: 20px;
  grid-row: 1/ span 5;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  width: 80%;
}

#streams video {
  @apply w-full h-4/5 sm:w-full sm:h-full;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  @apply border-2 bg-red-400 border-lime-400 rounded-xl transition ease-in-out hover:scale-125;
}

#streams {
  scroll-behavior: smooth;
}

#streams::-webkit-scrollbar {
  width: 0.25rem;
}

#streams-webkit-scrollbar-track {
  background: #1e1e24;
}

#streams-webkit-scrollbar-thumb {
  background: #6649b8;
}

.waves-background {
  height: inherit;
  background-image: url('./assets/icons/waves.svg');
}

.footer-icon .footer-icon-text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.footer-icon:hover .footer-icon-text {
  opacity: 1;
  top: 100%;
  position: absolute;
  z-index: 10;
}

@media screen and (max-width: 463px) {
  .footer {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 17%;
    left: 0;
    justify-content: center;
    align-items: stretch;
  }
}

@media screen and (min-width: 464px) {
  .footer {
    @apply bottom-12;
  }
}
