body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-auto-rows: 300px;
}

#streams {
  grid-row: 1/ span 5;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* dynamically change this property when new users are added */
  grid-auto-rows: 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

#streams video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @apply border-2 border-lime-400 rounded-xl transition ease-in-out hover:scale-125;
}

.waves-background {
  height: inherit;
  background-image: url('./assets/icons/waves.svg');
}